---
title: "Verification of Visual Controllers via Compositional Geometric Transformations"
authors: "Alexander Estornell, Leonard Jung, Michael Everett"
venue: ""
year: "2025"
status: "in review"
arxiv: "https://arxiv.org/pdf/2507.04523"
official_link: ""
doi: ""
volume: ""
number: ""
pages: ""
publisher: ""
month: "12"
address: ""
type: "conference"
school: ""
awards: ""
notes: ""
include_on_website: true
image: "estornell25_visual.png"
links_to_code: ""
links_to_video: ""
collection: publications
permalink: /publication/2025-12-estornell2025verification.html
---